<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="bodyEq">
        <header>
            <div class="container-fluid">
                <div>
                    <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
                </div>
                <%- include('../partials/navbar') %>
            </div>
        </header>
        <section class="registro-cuerpo" id="registro-fondo">
            <div class="registro-formulario">
                <form action="/users/editar-users?_method=PUT" method="POST">
                    
                    <!-- <div class="mb-3">
                        <img src="/img/img-users/<-%= useraEditar.foto_perfil %>" class="card-img-top" alt="Foto Equipo">
                        <label for="formGroupExampleInput2" class="form-label">Foto de perfil</label>
                        <input type="file" class="form-control" id="formGroupExampleInput2" name="fotoPerfil"
                            placeholder="Foto de perfil">
                        <-% if (locals.errors && errors.fotoPerfil) { %>
                            <div class="text-danger">
                                <-%= errors.fotoPerfil.msg %>
                            </div>
                            <-% } %>
                    </div> -->
                    <div class="mb-3">
                        <label for="nombre" class="form-label camposLog">Nombre:</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
                            name="nombre" id="nombre"
                            value="<%= locals.oldData ? oldData.nombre : useraEditar.nombre %>" placeholder="Nombre">
                    </div>
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="text-danger">
                            <%= errors.nombre.msg %>
                        </div>
                        <% } %>
                    <div class="mb-3">
                        <label for="apellido" class="form-label camposLog">Apellido:</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.apellido ? 'is-invalid' : null %>"
                            name='apellido' id="apellido" value="<%= useraEditar.apellido %>" placeholder="Apellido">
                    </div>
                    <% if (locals.errors && errors.apellido) { %>
                        <div class="text-danger">
                            <%= errors.apellido.msg %>
                        </div>
                        <% } %>
                    <div class="mb-3">
                        <label for="dni" class="form-label camposLog">Dni:</label>
                        <input type="number" class="form-control" name='dni' id="dni" value="<%= useraEditar.dni %>"
                            min="1000000" max="99999999" placeholder="Dni">
                    </div>
                    <% if (locals.errors && errors.dni) { %>
                        <div class="text-danger">
                            <%= errors.dni.msg %>
                        </div>
                        <% } %>
                    <div class="mb-3">
                        <label for="sexo" class="form-label camposLog">Género:</label>
                        <% if (useraEditar.genero==false ){ %>
                            <select name="genero" id="sexo">
                                <option value="true">Hombre</option>
                                <option value="false" selected>Mujer</option>
                            </select>
                            <% } else {%>
                                <select name="genero" id="sexo">
                                    <option value="true" selected>Hombre</option>
                                    <option value="false">Mujer</option>
                                </select>
                                <% } %>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Foto de perfil</label>
                        <input type="file" class="form-control" id="formGroupExampleInput2" value="" placeholder="Foto de perfil">
                    </div> -->
                    <div class="mb-3">
                        <label for="email" class="form-label camposLog">Email:</label>
                        <input type="email"
                            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" name="email"
                            id="email" value="<%= locals.oldData ? oldData.email : useraEditar.email %>"
                            aria-describedby="emailHelp" placeholder="usuario@hayequipo.com">
                    </div>
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                    <div class="mb-3">
                        <label for="contraseña" class="form-label camposLog">Contraseña:</label>
                        <input type="password" class="form-control" name="password"
                            minlength="6" id="contraseña"
                            placeholder="***********">
                    </div>
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                        <% } %>
                    <button type="submit" class="btn btn-primary">GUARDAR CAMBIOS</button>
                </form>
            </div>
        </section>
        <%- include('../partials/footer') %>
    </body>

</html>