<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="bodyEq">
        <header>
            <div class="container-fluid">
                <div>
                    <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
                </div>
                <%- include('../partials/navbar') %>
            </div>
        </header>
        <section class="registro-cuerpo" id="registro-fondo">
            <div class="registro-formulario">
                <form action="/users/registro" method="POST" enctype="multipart/form-data" id="formularioRegistro">
                    <div class="mb-3">
                        <label for="nombre" class="form-label camposLog">Nombre:</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
                            name="nombre" id="nombre" value="<%= locals.oldData ? oldData.nombre : null %>"
                            placeholder="Nombre">
                        <% if (locals.errors && errors.nombre) { %>
                            <div class="text-danger">
                                <%= errors.nombre.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label camposLog">Apellido:</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.apellido ? 'is-invalid' : null %>"
                            name='apellido' id="apellido" value="<%= locals.oldData ? oldData.apellido : null %>"
                            placeholder="Apellido">
                        <% if (locals.errors && errors.apellido) { %>
                            <div class="text-danger">
                                <%= errors.apellido.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="mb-3">
                        <label for="dni" class="form-label camposLog">DNI:</label>
                        <input type="number"
                            class="form-control <%= locals.errors && errors.dni ? 'is-invalid' : null %>" name='dni'
                            id="dni" value="<%= locals.oldData ? oldData.dni : null %>" placeholder="22333444">
                        <% if (locals.errors && errors.dni) { %>
                            <div class="text-danger">
                                <%= errors.dni.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="mb-3">
                        <label for="genero" class="form-label camposLog">Género:</label>
                        <select name="genero" class="<%= locals.errors && errors.genero ? 'is-invalid' : null %>"
                            id="genero">
                            <option value=""> ... </option>
                            <% let generos=['Hombre', 'Mujer' ]; %>
                                <% for( let genero of generos ) { %>
                                    <option value="<%= (genero == 'Hombre') ? true : false %>" <%=locals.oldData && (genero==oldData.genero)
                                        ? 'selected' : null %>
                                        >
                                        <%= genero %>
                                    </option>
                                    <% } %>
                        </select>
                        <% if (locals.errors && errors.genero) { %>
                            <div class="text-danger">
                                <%= errors.genero.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label camposLog">Foto de perfil</label>
                        <input type="file" class="form-control" id="formGroupExampleInput2" name="fotoPerfil"
                            placeholder="Foto de perfil">
                        <% if (locals.errors && errors.fotoPerfil) { %>
                            <div class="text-danger">
                                <%= errors.fotoPerfil.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label camposLog">Email:</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" name="email"
                            id="email" value="<%= locals.oldData ? oldData.email : null %>"
                            placeholder="usuario@hayequipo.com">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                                <div id="emailHelp" class="form-text">Nunca compartiremos tu información.</div>
                    </div>
                    <div class="mb-3">
                        <label for="contraseña" class="form-label camposLog">Contraseña:</label>
                        <input type="password"
                            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                            name="password" id="contraseña" value="<%= locals.oldData ? oldData.password : null %>"
                            placeholder="***********">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="tyc" required>
                        <label class="form-check-label camposLog" for="exampleCheck1">Acepto términos y condiciones</label>
                    </div>
                    <button type="submit" class="btn btn-primary">ENVIAR</button>
                    <p class="warnings" id="warnings"></p>
                </form>
            </div>
        </section>
        <%- include('../partials/footer') %>
        <script src="/frontValidations/validacionRegistro.js"></script>
    </body>

</html>