<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="bodyEq">
    <header> 
        <div class="container-fluid">
            <div>
                <a href="/"><img class="logo"src="/img/logo.png" alt="logo"></a>
            </div>
            <%- include('../partials/navbar') %>
        </div>    
    </header>
    <section>
        <div class="banner-carrito">
            <h3>
                TU DESAFÍO
            </h3>
        </div>
    </section>
    <form action="/products/carrito2/:id" method="POST">
        <section class="carrito-compras">       
            <div class="container">
              <div >
                    <div class="col-9">Desafío</div>
              </div>                
            </div>
        </section>
        <section>
            <div class="container conCarrito">
                    <div  id="cuerpo-carrito">
                        <div class="reserva-fecha col-9">
                            <div id="imgnom">
                                <div>
                                    <p id="p-mobile" class="label-canchas"> <%= equi.nombre_equipo %> </p>
                                    <p id="p-web" class="label-canchas"> <%= equi.nombre_equipo %> </p>
                                    <input type="text" name="idEquipoD" id="idEquipoD" value="<%= equi.id %>" style="display: none"><br>
                                </div>                            
                                <img src="/img/img-equipos/<%= equi.img_equipo %>" class="imagen-carrito" alt="imagen de cancha">
                            </div>
                            <div>
                                <label for="fecha" class="label-canchas">Fecha de partido</label><br>
                                <input class="dates-canchas" type="date" name="fecha" id="fecha" min="<%= moment().format('YYYY-MM-DD') %>" max="<%= moment().add(1, 'month').format('YYYY-MM-DD') %>">
                            </div>
                            <div class="campos-canchas">
                                <label for="formGroupExampleInput2" class="form-label horario-canchas label-canchas">Horario:</label><br>
                                <select class="inputs-canchas" name="franjaHoraria" id="franjaHoraria">
                                    <% for( let fj of franjaHoraria ) { %>
                                        <option value="<%= fj.id  %>">
                                            <%= fj.detalle %>
                                        </option>
                                    <% } %>
                                </select>
                            </div> 
                        
                            <div class="campos-canchas">
                                <label for="formGroupExampleInput2" class="form-label horario-canchas label-canchas">Complejo:</label><br>
                                <select class="inputs-canchas" name="complejo" id="complejo">
                                    <% for( let co of complejo ) { %>
                                        <option value="<%= co.id  %>">
                                            <%= co.nombre %>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-1" id="divEqui">
                                <label for="equipo" class="form-label label-canchas">
                                    Selecciona tu equipo
                                </label><br>
                                <select id="equipo2" name='equipo2' class="inputs-canchas">
                                    <% for( let a of e ) { %>
                                        <% if(a.equipo.borrado == 0) { %>
                                            <div class="mb-3">
                                                <option value="<%= a.equipo_id  %>"> 
                                                    <%= a.equipo.nombre_equipo %>
                                                </option>
                                            </div>
                                        <% } %>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <section class="btn-confirmar">
            <a href="/products/equipos" class="boton-volver-reservas">Volver a la reserva</a>
            <button type="submit" class="btn btn-primary">CONFIRMAR</button>
        </section>
    </form>
    <%- include('../partials/footer') %> 
    
</body>
</html>