<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="bodyEq">
        <header>
            <div class="container-fluid">
                <div>
                    <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
                </div>
                <%- include('../partials/navbar') %>
            </div>
        </header>
        <section class="registro-cuerpo" id="registro-fondo">
            <div class="registro-formulario">
                <form action="/products/crear-equipo" method="POST" enctype="multipart/form-data" id="form2">
                    <p class="warnings" id="warnings"></p>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label camposLog">Nombre del Equipo:</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.nombreEquipo ? 'is-invalid' : null %>"
                            name="nombreEquipo" 
                            id="formGroupExampleInput" 
                            value="<%= locals.oldData ? oldData.nombreEquipo : null %>" placeholder="Equipo A">
                        <% if (locals.errors && errors.nombreEquipo) { %>
                            <div class="text-danger">
                                <%= errors.nombreEquipo.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="mb-3">
                        <label for="fotoEquipo" class="form-label camposLog">Foto del Equipo:</label>
                        <input type="file" class="form-control" name="imgEquipo" id="fotoEquipo">
                        <% if (locals.errors && errors.imgEquipo) { %>
                            <div class="text-danger">
                                <%= errors.imgEquipo.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="mb-3">
                        <label for="nombre1" class="form-label camposLog">Jugador 1:</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.nombre1 ? 'is-invalid' : null %>"
                            name="nombre1" id="nombre1"
                            value="<%= locals.oldData ? oldData.nombre1 : us.nombre + " " + us.apellido %>" placeholder="Nombre y Apellido" readonly>
                            <!-- value="</%= us.nombre + " " + us.apellido %>" disabled> -->
                    </div>
                    <div class="mb-3">
                        <label for="nombre2" class="form-label camposLog">Jugador 2:</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.nombre2 ? 'is-invalid' : null %>"
                            name="nombre2" id="nombre2"
                            value="<%= locals.oldData ? oldData.nombre2 : null %>" placeholder="Nombre y Apellido">
                        <% if (locals.errors && errors.nombre2) { %>
                            <div class="text-danger">
                                <%= errors.nombre2.msg %>
                            </div>
                        <% } %>
                      
                    </div>
                    <div class="mb-3">
                        <label for="nombre3" class="form-label camposLog">Jugador 3:</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.nombre3 ? 'is-invalid' : null %>"
                            name="nombre3" id="nombre3"
                            value="<%= locals.oldData ? oldData.nombre3 : null %>" placeholder="Nombre y Apellido">
                        <% if (locals.errors && errors.nombre3) { %>
                            <div class="text-danger">
                                <%= errors.nombre3.msg %>
                            </div>
                        <% } %>
                      
                    </div>
                    <div class="mb-3" id="error1">
                        <label for="nombre4" class="form-label camposLog">Jugador 4:</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.nombre4 ? 'is-invalid' : null %>"
                            name="nombre4" id="nombre4"
                            value="<%= locals.oldData ? oldData.nombre4 : null %>" placeholder="Nombre y Apellido">
                        <% if (locals.errors && errors.nombre4) { %>
                            <div class="text-danger">
                                <%= errors.nombre4.msg %>
                            </div>
                        <% } %>
                       
                    </div>
                    <div class="mb-3">
                        <label for="nombre5" class="form-label camposLog">Jugador 5:</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.nombre5 ? 'is-invalid' : null %>"
                            name="nombre5" id="nombre5"
                            value="<%= locals.oldData ? oldData.nombre5 : null %>" placeholder="Nombre y Apellido">
                        <% if (locals.errors && errors.nombre5) { %>
                            <div class="text-danger">
                                <%= errors.nombre5.msg %>
                            </div>
                        <% } %>
                      
                    </div>
                    
                    <% for( let a of restricciones ) { %>
                        <div class="mb-3">
                            <label for="restriccion" class="form-label camposLog">
                                <%= 'Preferencia de ' + a.descripcion %>
                            </label><br>
                            <select id="restriccion"                                
                                name=<%= 'restriccion' + a.id %>>
                                <% for( let p of a.restriccion ) { %>
                                    <option value="<%= p.id  %>">
                                        <%= p.nombre %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-primary">ENVIAR</button>
                            
                </form>
            </div>
        </section>
        <%- include('../partials/footer') %>
        <script src="/frontValidations/valCrearProducto.js"></script>
    </body>

</html>