<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="bodyEq">
        <header>
            <div class="container-fluid">
                <div>
                    <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
                </div>
                <%- include('../partials/navbar') %>
            </div>
        </header>
        <section class="registro-cuerpo" id="registro-fondo">
            <div class="registro-formulario">
                <form action="/products/crear-equipo" method="POST">
                    <div class="mb-3 nomEqui">
                        <label for="formGroupExampleInput" class="form-label nom camposLog">
                            <%=equipo.nombre_equipo %>
                        </label>
                    </div>
                    <div class="mb-3 imgEquipoimg">
                        <img src="/img/img-equipos/<%= equipo.img_equipo %>" class="card-img-top imEq" alt="Foto Equipo">
                    </div>
                    <% for( let i=0; i < equipo.usuario_equipo.length; i++ ) { %>
                        <div class="mb-3">
                                <label for="formGroupExampleInput2" class="form-label may camposLog">Jugador <%= (i+1) %>: </label>
                                <label for="formGroupExampleInput2" class="form-label nomJug ">
                                    <%=equipo.usuario_equipo[i].nombre_jugador +" "+ equipo.usuario_equipo[i].apellido_jugador  %></label>
                        </div>
                    <% } %>                
                    <div class=" mb-3">
                        <label for="restriccionesSexo" name="restriccionesSexo" class="form-label may camposLog">Juega Contra: </label>
                        <label for="restriccionesSexo" name="restriccionesSexo" class="form-label nomJug"><%= equipo.restriccion[0].nombre %> </label><br>
                    </div>
                    <div class="mb-3">
                        <label for="restriccionEdad" class="form-label may camposLog">Restricción de Edad: </label><br>
                        <label for="restriccionEdad" class="form-label nomJug"><%= equipo.restriccion[1].nombre %> </label><br> 
                    </div>
                    <% if ((locals.isLogged) && (userLogged.id==equipo.usuario_equipo[0].usuario_id)){ %>
                        <a href="/products/editar-equipo/<%= equipo.id %>" class="btn btn-primary">EDITAR</a>
                    <% } %>
                </form>
                <% if ((locals.isLogged) && (userLogged.id==equipo.usuario_equipo[0].usuario_id)){ %>
                    <form action="/products/delete/<%=equipo.id %>?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-primary">ELIMINAR</button>
                    </form>
                <% } %>
                <% if ((locals.isLogged) && (userLogged.id==equipo.usuario_equipo[0].usuario_id)){ %>
                    <a href="/products/mis-equipos" class="btn btn-primary">VOLVER</a>
                <% } else{ %>
                    <a href="/products/equipos" class="btn btn-primary">VOLVER</a>
                <% } %>
            </div>
        </section>
        <%- include('../partials/footer') %>
    </body>
</html>