<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="bodyEq">
    <header> 
        <div class="container-fluid">
            <div>
                <a href="/"><img class="logo"src="/img/logo.png" alt="logo"></a>
            </div>
            <%- include('../partials/navbar') %>
        </div>    
    </header>
    <section class="cuerpo-home">
        <div class="banner-equipo">        
            <h3>
                MIS EQUIPOS
            </h3>            
        </div>        
    </section>
    <section class="cartas-equipos" id="equipos-section">
        <% for(let objeto of e) { %>  
            <% if(objeto.equipo.borrado == 0) { %>  
                <div class="card" style="width: 18rem;">
                <a href="/products/equipo/<%= objeto.equipo_id %>">
                    <span class="marcador"> 100% Asistencia <i class="fa-solid fa-handshake-angle"></i></span>
                    <img src="/img/img-equipos/<%= objeto.equipo.img_equipo %>" class="card-img-top" alt="Foto Equipo">
                    <div class="card-body">
                        <h5 class="card-title"><%= objeto.equipo.nombre_equipo %></h5>
                        <p class="card-text">
                        <ul>
                            <li><i class="fa-solid fa-medal"></i> <%= objeto.equipo_id %></li>
                            <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                            <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                        </ul>
                        </p>
                        <a href="/products/equipo/<%= objeto.equipo_id %>" class="btn btn-primary">Más info ></a>
                    </div>
                </div>
            <% } %>
        <% } %> 
    </section>
    <%- include('../partials/footer') %>
</body>
</html>